body{
    font-family: "Montserrat";
}
#title{
    background-color:#ff5050;
    color: white;
    
}
.phone-image{
    
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    line-height: 1.5;
    padding-top: 120px;
}
h2{
    font-family:"Montserrat";
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: "Montserrat";
    font-weight: bold;  
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 3% 35%;
}
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size : 30px;
    font-weight: bold;
    padding-bottom: 20px;
}
.nav-item{
    padding:0 18px;
}
.nav-link{
   font-size:1.2rem;
}
.download{
    margin: 5% 3% 5% 0;
}
.phone-image{
    width:35%;
    position: absolute;
}
#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}
.features{
    text-align: center;
    padding: 5%;
    
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff5050;
}
#testimonials{
    padding-top: 5%;
    text-align: center;
    background-color: #ff5050;
    color: white;
}
.testimonial-img{
    width:20%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color:#ff5050;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width:15%;
    margin: 20px 20px 50px;
}
.corousel{
    padding: 7% 15%;

}
#pricing{
    padding:100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}